.nav-top {
  padding-bottom: 100px;
}

.banner {
  text-align: center;
  padding: 6em 0;
}

.intro {
  width: 100%;
}

.quote {
  font-size: 1.2em;
}

.pre-main {
  margin: 0 auto;
  background: #efefef;
  background: #f2b705;
  padding: 3em 2em;
  margin-bottom: 4em;
  text-align: center;
  box-shadow: #003b4a 0 0 10px;
}

.pre-main > i {
  font-size: 2rem;
  color: #003b4a;
}

.pre-main h3 {
  text-align: center;
  column-span: all;
}

.pre-main p {
  margin-top: 0;
}
