/* MEDIA QUERIES SETTINGS */

@media (width < 1360px) {
  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    width: 100%;
    margin-left: auto;
    columns: auto;
  }
}

@media (width < 1200px) {
  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    width: 100%;
    margin-left: auto;
    gap: 0;
    grid-template-columns: 300px 300px 250px;
    grid-template-rows: 450px 450px;
    grid-template-areas:
      "post-one post-two aside"
      "post-three post-four aside";
    margin-bottom: 5em;
  }

  .post img {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /* .category {
      padding-bottom: 30px;
      margin-bottom: 1em;
      padding: 5px 5px;
    } */
}

/* mobile media query */

@media (width < 600px) {
  .main {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
    grid-template-areas:
      "post-one"
      "post-two"
      "post-three"
      "post-four "
      "aside";
  }

  .nav-top ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pre-footer {
    padding: 3em 1em;
    box-shadow: #003b4a 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5em;
  }

  h1 {
    font-size: 3.2em;
  }
}

@media (width < 360px) {
  .main {
    width: 360px;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
    grid-template-areas:
      "post-one"
      "post-two"
      "post-three"
      "post-four "
      "aside";
  }

  .nav-top ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pre-footer {
    /* background-color: #0388a6; */
    padding: 1em 1.5em;
    box-shadow: #003b4a 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
  }

  .info-prefooter {
    padding: 0 15px;
    gap: 2.5em;
  }

  h1 {
    font-size: 3em;
  }
}
