@import "/css/general.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Syne:wght@400;600;700&display=swap");
@import "/css/font.css";

/* MAIN LAYOUT */

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}
.banner h1 {
  font-size: 3.5em;
  font-weight: 700;

  margin-bottom: 1em;
}

.post-one {
  grid-area: post-one;
}

.post-two {
  grid-area: post-two;
}

.post-three {
  grid-area: post-three;
}

.post-four {
  grid-area: post-four;
}

.post {
  /* margin: 0 auto; */
  /* padding: 1em; */
}

.post img {
  width: 100%;
  height: auto;
}

.post-text {
  padding: 0 1.2em;
}

/* .card-img {
  width: 100%;
  height: auto;
  padding: auto;
} */

.card-img img {
  border-radius: 10px;
}

.aside {
  grid-area: aside;
  padding-top: 30px;
  border-radius: 5px;
  height: auto;
  padding: 1em;
}

.aside li {
  list-style: none;
}

.aside li {
  display: flex;
  justify-content: space-between;
  border-bottom: #f2b705 0.2px solid;

  padding-top: 1em;
  padding-right: 50px;
}

.post h3 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.category {
  padding-bottom: 30px;
  border: #f2b705 1px solid;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 10px 20px;
}

.recent-post {
  padding-bottom: 30px;
  border: #f2b705 1px solid;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 10px 20px;
}

.recent-one,
.recent-two,
.recent-three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2em;
  gap: 1em;
}

.post-icon {
  border-radius: 5px;
}

.tags {
  padding-bottom: 30px;
  border: #f2b705 1px solid;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 10px 20px;
}

.tag-one,
.tag-two,
.tag-three {
  padding-bottom: 10px;

  display: flex;
  justify-content: space-around;
}

.button-bottom {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 2em;
}

.button-one,
.button-two {
  height: 50px;
  width: 50px;
  background: #8fbdd9;
  border: none;
  border-radius: 5px;
}

.button-next {
  height: 50px;
  width: 100px;
  background: #0388a6;
  border: none;
  border-radius: 5px;
}

/* CONTACT SECTION BOTTOM */
.contact {
  width: 100%;
  margin: 0 auto;
  background: #8fbdd9;
  padding: 3em 2em;
}

.contact-me {
  text-align: center;
}

.contact-me h2 {
  font-size: 2.5rem;
}

.info-container {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.box-contact {
  border: #0388a6 1px solid;
  border-radius: 5px;
  padding: 0.5em;
  padding-left: 2em;
  width: 350px;
  background-color: #c2e0f2;

  display: flex;
  flex-direction: row;
  gap: 2em;
}

.fa-location-pin,
.fa-envelope,
.fa-user,
.fa-square-facebook,
.fa-square-twitter,
.fa-hashtag,
.fa-bars {
  font-size: 4rem;
  color: #003b4a;
}
/* PRE-FOOTER SOCIAL INFORMATION  */

.pre-footer {
  background: #f2b705;
  padding: 3em 35px;
  width: 100%;
  margin: 0 auto;
  box-shadow: #003b4a 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.social-pre-footer {
  /* display: flex;
  flex-direction: column;
  gap: 1em; */
  align-items: center;
}

.text-pre-footer {
  padding-bottom: 20px;
  color: #003b4a;
}

.social-media-icons {
  display: flex;
  gap: 4em;

  color: #003b4a;
}

.info-prefooter {
  display: flex;
  gap: 4em;
}

/* FOOTER */
.footer {
  width: 100%;
  background: #024959;
  padding: 2em;
  text-align: center;
  color: #efefef;
}

/* MEDIA QUERY */
@media (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "post-one post-two aside"
      "post-three post-four aside";
    gap: 1em;
    padding-bottom: 30px;
  }
  .pre-footer {
    gap: 20em;
  }
  .aside {
    padding-top: 28px;
  }
}
