*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 2em;
    font-family: 'Sen', sans-serif;

    font-size: 1.2rem;
    line-height: 1.6;
    color: #003B4A;
}

h1, h3 {
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5rem;
}

a {
    color: #F69333;
}

a:hover,
a:focus {
    color: rgb(96, 112, 116);
}

.sidebar a {
    color: rgb(96, 112, 116);
}

.sidebar a:hover {
    color: #F69333
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0 1em;

}


header {
    width: 100%;
    background: #0388A6;
    text-align: center;
    padding: 4em 0;
}

.nav-top {
    padding-bottom: 100px;
}

.banner {
    text-align: center;
    padding: 6em 0;
}

.intro {
    width: 100%;
}

/* .summary {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
     opacity: .8; 
    font-size: .95rem;
    padding: 1em 0;
} */

.pre-main {
    margin: 0 auto;
    background: #efefef;
    padding: 3em 2em;
    margin-bottom: 4em;

    columns: 20em;
}

.pre-main h3 {
    text-align: center;
    column-span: all;
}

.pre-main p {
    margin-top: 0;
}

.main {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: 
    "post-one post-two aside"
    "post-three post-four aside";
}

.post-one {
    grid-area: post-one;
}

.post-two {
    grid-area: post-two;
}

.post-three {
    grid-area: post-three;
}

.post-four {
    grid-area: post-four;
}

.post {
    padding: 1em;
}

.sidebar {
    /* background:#F2B705; */
    /* padding: 2em; */
    /* max-width: 400px; */

}


.side-wrapper {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "categories"
        "recent-post"
        "tags";
    gap: 1em;
}

.aside {
    border: 1px solid #F2B705;
    padding: 1em 1em;
    /* margin: 0 auto; */
    border-radius: 5px;
    background: #F2B705;

}

.side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




.contact {
    width: 100%;
    margin: 0 auto;
    background: #8FBDD9;
    padding: 3em 2em;
    /* margin-bottom: 4em; */

    /* columns: 40em; */
}

.contact-me {
    text-align: center;
    
}

.contact-me h2 {
    font-size: 2.5rem;
}

.info-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "office call write";
    gap: 1em; */
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.box-contact {
    border: #F69333 1px solid;
    border-radius: 5px;
    padding: .5em .5em;
    width: 370px;
    background-color: #C2E0F2;
}

.footer {
    width: 100%;
    background: #024959;
    padding: 2em;
    text-align: center;
    color: #efefef;
}


/* MEDIA QUERIES SETTINGS */

@media (min-width: 1360px) {
    .page-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .main {
        width: 100%;
        margin-left: auto;
    }
    
    .sidebar {
        width: 30%;
        margin-right: auto;
    }

   
}


@media (max-width: 600px) {
    .main {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5em;
        grid-template-areas: 
        "post-one" 
        "post-two"
        "post-three"
         "post-four "
         "aside";
    }
    .nav-top {
        display: none;
    }
}

    
