*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;

   
}

.main-container{
    max-width: 1366px;
    margin: 0 auto;
    background-color: rgb(253, 247, 240);
}



/*Navbar*/
.primary-header {
    background-color: #FFE7E7;
    padding: 0.5rem;
    /*border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);*/
    height: 80px;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:18px 48px;
}


.sign-up {
    height: 44px;
    width: 130px;
   border: none;
    border-radius: 10px;  
    background-color:#1044FF;
    color: #fff;
}

ul {
    list-style: none;
    display: inline-flex;
}

ul a {
    text-decoration: none;
    color: #1044FF;
    font-size: 1.8rem;
    padding: 1rem;
    transition: 0.5s;*/
}

/*BANNER*/

.banner {
    background-color: #FFE7E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.banner h1 {
    font-size: 7.2rem;
    color: #1044FF;
}

.banner p {
    font-size: 2.4rem;
    color: #1044FF;
    padding-top: 14px;

}

.top-main-content {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-evenly;

}


/* LEFT CONTENT*/
.left-content {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: space-between;
    grid-gap: 1rem;
    max-width: 60%;
    /*margin: 80px;*/

}

/* RIGHT CONTENT*/
.right-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: space-between;
    grid-gap: 1rem;
    max-width: 30%;
    /*margin: 80px;*/
}

.side {
    font-size: 3.2rem;
    border: #1044FF solid 1px;
    border-radius: 3px;
    width: 370px;
    height: 368px;
    padding-top: 40px;
    padding-left: 32px;
}

